.bodybgchanlh{
    background-color: #F2F2F2 !important;
}
.bodybgchandk{
    background-color: #141D2F !important;
}
.boxbgchanlh{
    background-color: #FEFEFE !important;
}
.boxbgchandk{
    background-color: #1E2A47 !important;
}